# vscode
.vscode

# clion
CMakeLists.txt
cmake-build-debug
.idea

# cpp
*.o
obj/
a.out
vgcore.*
unit_test

# tmpfiles
*[Tt][Mm][Pp]*
*[Tt][Oo][ _\-][Dd][Ee][Ll]*
*[Tt][Oo][Dd][Ee][Ll]*
*zip*
log.txt
log_save.txt

# bin
*.so
arcade

